/* Coolors Exported Palette - coolors.co/75b9be-5d737e-a8ccc9-f0f7ee-87bba2 */

/* HSL */
$color1: hsla(184%, 36%, 60%, 1);
$color2: hsla(200%, 15%, 43%, 1);
$color3: hsla(175%, 26%, 73%, 1);
$color4: hsla(107%, 36%, 95%, 1);
$color5: hsla(151%, 28%, 63%, 1);

/* RGB */
$color1: rgba(117, 185, 190, 1);
$color2: rgba(93, 115, 126, 1);
$color3: rgba(168, 204, 201, 1);
$color4: rgba(240, 247, 238, 1);
$color5: rgba(135, 187, 162, 1);